<!DOCTYPE html>
<html ng-app="app">
<head>
    <link type="text/css" rel="stylesheet" href="../components/jquery-mobile/jquery.mobile-1.3.1.css">
    <script src="../components/angular/angular.js"></script>
    <script src="../dist/angular-jqm.js"></script>

    <script>
        var mod = angular.module("app", ["jqm"]);
        mod.config(function($routeProvider) {
            $routeProvider.when("/", {
                redirectTo: "main.html"
            });
            $routeProvider.when("/ngSnippet.html", {
                redirectTo: "main.html"
            });
            $routeProvider.when("/:page", {
                transition: 'slide',
                templateUrl: function(params) {
                    return params.page;
                }
            });
        });


    </script>

    <script type="text/ng-template" id="main.html">
        <!-- the main page of your app -->
        <div jqm-page>
            <h1>Main page</h1>
            <a href="#/page2.html">To page2</a>
            <br />
            <div class="container">

                <div jqm-flip
                     ng-model="selectedValue" on-label="On" on-value="Onn" off-label="Off" off-value="Offf" >
                </div>
                Value = <input type="text" ng-model="selectedValue" />
                option1 option2 label1 label2
                ng-model ist direktive und erzeugt controller
                value standardmäßig boolean
                jqmcheckbox
                ng-click

            </div>
        </div>
    </script>

    <script type="text/ng-template" id="page2.html">
        <!-- Another page -->
        <div jqm-page>
            <h1>Page 2</h1>
            My Page
        </div>
    </script>
</head>

<body jqm-viewport>

</body>

</html>