    <div role="application" class="ui-slider ui-slider-switch ui-btn-down-c ui-btn-corner-all">
        <span ng-class="{'ui-btn-active' : (current.value === optionOn.value) , 'ui-btn-down-c' : (current.value !== optionOn.value)}" class="ui-slider-label ui-slider-label-a ui-btn-corner-all" role="img"
              ng-style="{'width':((current.value===optionOn.value)?'100%':'0%')}">{{optionOn.label}}</span>
        <span ng-class="{'ui-btn-active' : (current.value === optionOff.value) , 'ui-btn-down-c' : (current.value !== optionOff.value)}" class="ui-slider-label ui-slider-label-b ui-btn-corner-all" role="img"
              ng-style="{'width':((current.value===optionOff.value)?'100%':'0%')}">{{optionOff.label}}</span>
        <div class="ui-slider-inneroffset">
           <a href="#" class="ui-slider-handle ui-slider-handle-snapping ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all"
              data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="c" role="slider" aria-valuemin="0" aria-valuemax="1"
              aria-valuenow="{{current.value}}" aria-valuetext="{{current.label}}" title="{{current.label}}" aria-labelledby="flip-1-label"   ng-style="{'left':((current.value===optionOn.value)?'100%':'0%')}">
              <!--ng-style="{'left:0%' :(current.value === optionOff.value), 'left:100%' : (current.value === optionOn.value)}"-->
                  <span class="ui-btn-inner">
                       <span class="ui-btn-text">
                       </span>
                   </span>
               </a>
           </div>
    </div>